
.menu-links-a{
    position: relative;
  }
  
  .menu-links-a {
    position: relative;
  }
  
  .menu-links-a::before {
    content: attr(data-content);
    position: absolute;
    color: whitesmoke;
    /* color: #F87171; */
    width: 0;
    overflow: hidden;
    transition: width ease-in-out .5s;
    border: none;
  }
  
  .menu-links-a:hover::before {
    width: 100%; 
  }
  
  
  .menu-links-a:hover::before{
    width: 100%;
    
  }
  

  
.refer-text p{
  animation: anime 10s linear infinite;
}


.refer-text span{
  position: absolute;
  left: 50%;
  font-size: 1.1rem;
  transform-origin: 0 60px;
}
@media (min-width: 768px) {
  .refer-text span{
    transform-origin: 0 100px;
  }
}

@keyframes anime {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
  outline: none;
}

.input-container{
  position: relative;
}

.placeholder{
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
  opacity: 0.6;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
}

footer a{
  letter-spacing: 2px;
  width: fit-content;
}
footer a{
  position: relative;
}
footer a::after{
content: ""; 
width: 0%;
/* border-bottom: 1px solid black; */
height: 2%;
/* margin: 2; */
background-color: white;
position: absolute;
transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
bottom: -4px;

left:0;
}

footer a:hover::after {
width:100%;
}

footer a:hover{
scale: 0.8;
transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
opacity: 1;

}



.images1{
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
.best-buy-now {
  overflow: hidden;
  position: relative;
}

.best-buy-now:hover {
  color: white;
  transition: color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.best-buy-now::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  background-color: black;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.best-buy-now:hover::before {
  transform: translateX(0%);
}


.btn {
  position: relative;
  border: none;
  transition: all 0.5s;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.btn:hover {
  background: #f6e05e;
  box-shadow: 0 4px 5px #f6e05e, 0 0 17px #f6e05e, 0 0 25px #f6e05e, 0 0 48px #f6e05e, 0 0 25px #f6e05e;
  color: #333;
}


.menu-icon {
  transition:  all 0.5s cubic-bezier(0.23, 1, 0.320, 1) ease-in-out;
 
}
.menu-icon:hover{
opacity: 1;
  transition: all  0.5s cubic-bezier(0.23, 1, 0.320, 1) ease-in-out;
}
